 /* body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: linear-gradient(135deg, #1e1e2f, #3a3a5a);
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    } */

    .signup-container {
      background: #fff;
      padding: 30px;
      /* width: 320px; */
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    
    button:hover {
      opacity: 0.8;
    }

    .link {
      text-align: center;
      margin-top: 15px;
    }

    .link a {
      text-decoration: none;
      color: #ff4081;
    }