.category-section{
    width:100%;
    padding:30px 116px;
    background:#fff;
}

.category-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.category-header span,p{
    font-size:24px;
    font-weight:700;
    color:#222;
}

.controls{
    display:flex;
    gap:10px;
}

.controls button{
    width:42px;
    height:42px;
    border:none;
    border-radius:50%;
    background:#f1f1f1;
    cursor:pointer;
    font-size:20px;
    transition:.3s;
}

.controls button:hover{
    background:#ddd;
}

.category-slider{
    display:grid;
    gap:35px;
    overflow-x:auto;
    grid-auto-flow: column;
    grid-template-rows: repeat(2,120px);
    /* scroll-behavior:smooth;
    scrollbar-width:none; */
}

.category-slider::-webkit-scrollbar{
    display:none;
}

.category-card{
    min-width:150px;
    text-align:center;
    cursor:pointer;
}

.category-card img{
    width:150px;
    height:150px;
    object-fit:contain;
    transition:.3s;
}

.category-card:hover img{
    transform:scale(1.08);
}

.category-card p{
    margin-top:12px;
    font-size:24px;
    color:#333;
    font-weight:500;
}